@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(0, 0, 0);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

main {
  /* resize: both; */
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transform: scaleY(-1) translateX(-100); */
  /* flex: 1; */
}

.react-multiple-carousel__arrow {
  background: none !important;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #8a594c !important;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
}

.Toastify__progress-bar--success {
  background: #8a594c !important;
}

.pswp img {
  /* max-width: 1000px !important; */
  object-fit: cover;
}

.react-multiple-carousel__arrow--right {
  right: -8px !important;
  color: "#8A594C";
}

.react-multiple-carousel__arrow--left {
  left: -8px !important;
}
